<div class="h-full flex flex-wrap justify-between">
    <div class="w-full h-[48%] flex flex-wrap justify-between content-center">
        <app-band-title-1 class="h-full" title="knowledge"></app-band-title-1>
        <div class="w-fit h-fit overflow-x-visible">
            <app-card-model-1></app-card-model-1>
        </div>
    </div>
    <div class="w-full h-[48%] flex flex-wrap justify-between content-center">
        <app-band-title-1 class="h-full"></app-band-title-1>
        <div class="w-fit h-fit overflow-x-visible">
            <app-card-model-2></app-card-model-2>
        </div>
    </div>
</div>