@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Barlow;
    src: url(./assets/font/Barlow/Barlow-Regular.ttf);
}
html, body { height: 100%; }
body { margin: 0; font-family: Barlow !important; }