<div id="home" class="w-full h-full flex justify-between content-center">
    <div id="texts" class="w-1/2 flex flex-wrap">
        <div class="w-full h-full flex flex-wrap content-center text-mintcream-500">
            <h1 class="text-5xl">América Monzalvo</h1>
            <caption class="mb-11 text-2xl opacity-30">Angular Developer | Tech Lead</caption>
            <p class="m-0 text-justify">
                I really enjoy learning about innovating things concerning the world and my work area (IT), also facing challenges and sharing my knowledge. I’m lover of good practices and methodologies about software development, with more than 5 years of work experience. I’ve work with technologies as Angular, JS, HTML, CSS, SCSS, Tailwind, Bootstrap, API REST and many libraries of JS or NPM.
            </p>
        </div>
    </div>
    <div id="separator" class="bg-mintcream-500 w-[2px] h-[90%]"></div>
    <img src="./../../assets/img/Profile img bg.png">
</div>